!!!
%html{itemscope: true, itemtype: 'http://schema.org/WebPage'}
  %head
    = bold_meta
    = yield :html_head

  %body{id: yield(:body_id), class: "#{content.body_class} #{yield(:body_class)}"}
    = bold_header
    = yield
    = bold_footer


