- content_for(:body_id){'archive'}

= render 'themes/test/navigation'

%h2
  - if params[:month].blank?
    = params[:year]
  - else
    = d site.archive.to_date, :month_long
- for post in post_list(limit: 20)
  %article
    %h3= post.link_to
    - if post.teaser?
      .teaser= post.teaser

    %aside
      Posted by #{post.author_link} on #{time_tag post.post_date, format: :bold_ymd }

= post_list.pagination



