- content_for(:body_id){'author'}

= render 'themes/test/navigation'

%h2= "Posts by #{author.name}"
= author.user_image
- for post in post_list
  %article
    %h3= post.link_to
    - if post.teaser?
      .teaser= post.teaser

    %aside
      Posted by #{post.author_link} on #{time_tag post.post_date}

= post_list.pagination


