= render 'themes/test/navigation'

%article
  %h2= page.title

  .body
    = page.body_html


%section.contact
  %h2 Contact

  = contact_form do |f|
    = f.input :sender_name
    = f.input :sender_email
    = f.input :subject
    = f.input :body
    = f.button :submit, 'Send'
