-#
-# Bold - more than just blogging.
-# Copyright (C) 2015-2016 Jens Krämer <jk@jkraemer.net>
-#
-# This file is part of Bold.
-#
-# Bold is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Bold is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Bold.  If not, see <http://www.gnu.org/licenses/>.
-#
%article
  %header
    %h1= post.title
    .meta
      Posted by #{post.author_link} on #{time_tag post.post_date}
  = post.body_html

  - if post.commentable?
    %section.comments
      %h1#comments= t '.comments'

      - if post.comments.any?
        - for comment in post.comments
          %article
            %aside
              = comment.author_image size: 64

            %header
              %h1= comment.author
              =time_tag comment.date, format: :datetime_long
            .body
              = comment.body_html
      - else
        %p= t'.no_comments'

      = comment_form do |f|
        = f.input :body, as: :text, label: 'leave a reply'
        .two-cols
          .col.left
            = f.input :author_name
            = f.input :author_website
          .col.right
            = f.input :author_email
            = f.button :submit, 'Submit Comment'
