- content_for(:body_id){'search'}

= render 'themes/test/navigation'

- if current_search.blank?
  %h2= "Search"
- else
  %h2= "Search results for #{current_search.query}"

= search_form_tag do
  = text_field_tag :q, current_search.query, id: 'query', placeholder: t('.search_placeholder')


- unless current_search.blank?
  - for c in post_list
    %article
      %h3= c.link_to
      %p= content.excerpt(words: 20)

      - if c.post?
        %aside
          Posted by #{c.author_link} on #{c.post_date}

  = post_list.pagination


