- content_for(:body_id){'tag'}

= render 'themes/test/navigation'

%h2= "Posts tagged #{current_tag.name}"
- for post in post_list
  %article
    %h3= post.link_to
    - if post.teaser?
      .teaser= post.teaser

    %aside
      Posted by #{post.author_link} on #{post.post_date}

= post_list.pagination

