.row
  = render 'admin/profiles/left_col'

  .col-xs-12.col-sm-7.col-sm-offset-1.col-md-6.right-col

    %h2= t'.heading'

    = simple_form_for @user, url: update_password_admin_profile_path, method: :put do |f|
      = f.input :password
      = f.input :password_confirmation
      = f.input :current_password, hint: t('.current_password_hint')

      .buttons
        = button '.button'
