.modal-dialog.modal-sm
  .modal-content

    .modal-header

      %button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h4#modal-label.modal-title= t('.heading')


    = simple_form_for @invitation, remote: true, url: bold_settings_site_users_path do |f|
      .modal-body

        = f.input :email
        = f.input :role, collection: @invitation.role_values, include_blank: false


      .modal-footer

        = button '.invite'
