- content_for :container_class, 'absolute'
- @content ||= @contents.first

.row
  #list-col.col-sm-5.col-xs-12.independent-scroll.left-col
    %header
      = link_to icon(:plus), new_bold_site_post_path(current_site), id: 'new-post', class: 'pull-right btn btn-success btn-sm'
      = form_for @content_search, url: bold_site_posts_path(current_site), html: { class: 'form-inline', role: 'search', method: :get } do |f|
        = f.label :query, t('simple_form.labels.content_search.query'), class: 'sr-only'
        .input-group
          = f.text_field :query, class: 'input-sm form-control', placeholder: t('simple_form.labels.content_search.query')
          .input-group-btn
            - if @content_search.blank?
              %button.btn.btn-default.btn-sm{type:"submit"}
                = icon :search
            - else
              = link_to icon(:remove), bold_site_posts_path(current_site), class: 'btn btn-sm btn-default'

    - if @contents.present?
      .list-group.posts
        = render partial: 'post', collection: @contents
      - if @contents.next_page
        %p.paging
          = more_link
    - else
      %p= t'.no_content'

  #preview-col.col-sm-7.col-xs-12.independent-scroll.right-col.hidden-xs
    #preview
      = render 'show', content: @content if @content
