.row
  .col-xs-12

    %header.assets
      = link_to icon(:plus), new_bold_site_asset_path(current_site), id: 'new-assets', class: 'pull-right btn btn-success btn-sm'
      = form_for @asset_search, url: bold_site_assets_path(current_site), html: { class: 'form-inline', role: 'search', method: :get } do |f|
        = f.label :query, t('simple_form.labels.asset_search.query'), class: 'sr-only'
        .input-group
          = f.text_field :query, class: 'input-sm form-control', placeholder: t('simple_form.labels.asset_search.query')
          .input-group-btn
            - if @asset_search.blank?
              %button.btn.btn-default.btn-sm{type:"submit"}
                = icon :search
            - else
              = link_to icon(:remove), bold_site_assets_path(current_site), class: 'btn btn-sm btn-default'

.row.asset-list

  = render partial: 'asset', collection: @assets

- if @assets.next_page
  %p.paging
    = more_link @assets
