%h2.pull-left
  =t '.heading'
  %span.small #{l(@stats.from_date)} - #{l(@stats.to_date)}

= form_tag bold_site_activity_stats_path(current_site), class: 'form-inline pull-right', method: :get do |f|
  = select_tag :time_frame, options_from_collection_for_select(@stats.time_frames.keys.map{|k| [t(".#{k}"), k]}, :last, :first, params[:time_frame]), class: 'form-control input-sm auto-submit'

.row
  .col-sm-9

    %h3= t'.visits'
    %p= t'.visits_avg', value: @stats.daily_visits.avg, delta: @stats.daily_visits.prev_avg

    = line_chart @stats.daily_visits.data

.row
  .col-sm-9

    %h3= t'.pageviews'
    %p= t'.pageviews_avg', value: @stats.daily_pageviews.avg, delta: @stats.daily_pageviews.prev_avg

    = line_chart @stats.daily_pageviews.data

.row
  .col-sm-9

    %h3= t'.pageviews_per_visit'
    %p= t'.pageviews_per_visit_avg', value: @stats.daily_pageviews_per_visit.avg, delta: @stats.daily_pageviews_per_visit.prev_avg

    = line_chart @stats.daily_pageviews_per_visit.data
