.row
  .col-sm-6
    = f.input :name, input_html: { tabindex: 1, class: 'title' }
    = f.input :slug, input_html: { tabindex: 2, class: 'content-slug' }
  .col-sm-6
    .form-group
      = label_tag :asset_id do
        = t('.asset')
        %span.small
          = link_with_icon :picture, t('.select_image'), new_bold_site_asset_link_path(current_site), rel: 'category_asset_id', remote: true, tabindex: 4
          = link_with_icon :remove, t('.remove_image'), '#', rel: 'category_asset_id', class: 'clear', style:('display: none;' if f.object.asset.nil?), tabindex: 5
      = hidden_field_tag 'category[asset_id]', f.object.asset_id, id: 'category_asset_id'
      %p#category_asset_id_preview
        - if f.object.asset.present?
          = asset_tag f.object.asset, :bold_thumb
.row
  .col-sm-12
    = f.input :description, as: :text, input_html: { tabindex: 3 }

= button t('.save'), :primary, tabindex: 6

