= link_to bold_page_path(page), remote: true, class: "clearfix list-group-item #{'active' if page == @content}" do
  .hits{title: t('.hits_info')}
    = page.hit_count if page.hit_count > 0
  .page
    %h4.list-group-item-heading
      = page.title
      %small
        - if page.published?
          - if page.has_draft?
            = icon :pencil, title: t('.unpublished_changes')
        - else
          = icon :lock, title: t('.unpublished')

    %p.list-group-item-text
      %small
        = page.slug

