%header.clearfix
  = link_with_icon :menu_left, t('.back'), bold_pages_path, class: 'pull-left btn btn-default btn-sm back-to-list-group visible-xs-inline'
  %p.pull-left
    %small
      - if content.author
        - if content.published?
          = t '.published_by', author: content.author.display_name, date: l_date(content.post_date)
        - else
          = t '.created_by', author: content.author.display_name, date: l_date(content.created_at)
      = t '.template', name: content.template
      = render 'bold/content/stats', content: content

  = link_with_icon :pencil, t('.edit'), edit_bold_page_path(content), class: 'pull-right btn btn-default btn-sm'

%article
  %h2= content.title
  = content.body_html

