!!!
%html
  %head
    = render 'layouts/bold/html_head'
  %body
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar


        .navbar-right.hidden-xs
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{ href: "#", data: { toggle: 'dropdown', hover: 'dropdown' } }
                = gravatar_image_tag User.current.email, 26
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                %li= link_with_icon :user, t('bold.common.nav.profile'), edit_admin_profile_path
                %li.divider{role: 'presentation'}
                %li= link_with_icon :off, t('bold.common.nav.signout'), destroy_user_session_path, method: :delete

        - call_hook :view_layouts_admin_navbar

        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_with_icon :menu_left, t('bold.common.nav.back', site: current_site.name), bold_root_path
            = nav_link :profile, edit_admin_profile_path, controller: 'admin/profiles'
            - if current_user.admin?
              = nav_link :sites, admin_sites_path, controller: 'admin/sites'
              = nav_link :users, admin_users_path, controller: 'admin/(invitations|users)'

            %li= link_to t('bold.common.nav.signout'), destroy_user_session_path, method: :delete, class: 'visible-xs-block'

    .container-fluid{class: yield(:container_class)}
      = yield

    = flash_message wrap_js: true

