!!!
%html
  %head
    = render 'layouts/bold/html_head'
  %body
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          - if show_sites_menu?
            %ul.nav.navbar-nav.hidden-xs
              %li{:class => "dropdown"}
                %a.dropdown-toggle.navbar-brand{"data-hover" => "dropdown", "data-toggle" => "dropdown" }
                  = image_tag 'bold/logo.png', alt: 'bold logo', style: 'display: inline; height: 25px;'
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  - for site in current_user.available_sites
                    %li= link_to site.name, bold_site_path(site)
          - elsif site = current_user.sites.first
            = link_to site.name, bold_site_path(site), class: 'navbar-brand'

        .navbar-right.hidden-xs
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{ href: "#", data: { toggle: 'dropdown', hover: 'dropdown' } }
                = gravatar_image_tag User.current.email, 26
                %span.caret
              %ul.dropdown-menu{role: 'menu'}
                %li= link_with_icon :user, t('bold.common.nav.profile'), edit_bold_profile_path
                %li.divider{role: 'presentation'}
                %li= link_with_icon :off, t('bold.common.nav.signout'), destroy_user_session_path, method: :delete

        - call_hook :view_layouts_bold_navbar

        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            = nav_link :profile, edit_bold_profile_path, controller: 'bold/profiles'
            - if current_user.admin?
              = nav_link :sites, admin_sites_path, controller: 'admin/sites'
              = nav_link :users, admin_users_path, controller: 'admin/(invitations|users)'

            %li= link_to t('bold.common.nav.signout'), destroy_user_session_path, method: :delete, class: 'visible-xs-block'

    .container-fluid{class: yield(:container_class)}
      = yield

    = flash_message wrap_js: true

