!!!
%html
  %head
    = render 'layouts/bold/html_head'
    = call_hook :view_bold_layout_html_head
  %body
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-label", :role => "dialog", :tabindex => "-1"}
    .navbar.navbar-inverse.navbar-static-top{:role => "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          - if show_sites_menu?
            = link_to current_site.name, current_site.external_url, class: 'navbar-brand visible-xs-inline'
            %ul.nav.navbar-nav.hidden-xs
              %li{:class => "dropdown"}
                %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => current_site.external_url, :class => 'navbar-brand' }
                  = current_site.name
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  - for site in Site.other_sites
                    %li= link_to site.name, bold_site_path(site)
          - else
            = link_to current_site.name, current_site.external_url, class: 'navbar-brand'

        = render 'layouts/bold/user_menu'

        - call_hook :view_layouts_site_navbar

        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            = nav_link (icon(:plus)+'&nbsp;'.html_safe+ t('bold.common.nav.new_post')), new_bold_site_post_path(current_site), action: 'new', controller: 'bold/posts'
            = nav_link :posts, bold_site_posts_path(current_site), action: '(index|edit|update)', controller: 'bold/posts'

            = nav_link :pages, bold_site_pages_path(current_site), controller: 'bold/pages'
            = nav_link :assets, bold_site_assets_path(current_site), controller: 'bold/assets'
            - if current_user.site_admin?
              = nav_link :settings, bold_site_settings_root_path(current_site), controller: 'bold/settings/(settings|plugins|themes|site_users|backups|navigations|categories)'
            = nav_link :activities, bold_site_activity_comments_path(current_site), controller: 'bold/comments', badge: current_site.unread_items.for(current_user).count

            %li= link_to t('bold.common.nav.profile'), edit_bold_profile_path, class: 'visible-xs-block'
            - if current_user.admin?
              %li= link_to t('bold.common.nav.admin'), admin_sites_path, class: 'visible-xs-block'
            - if show_sites_menu?
              %li= link_to t('bold.common.nav.change_site'), bold_sites_path, class: 'visible-xs-block'
            %li= link_to t('bold.common.nav.signout'), destroy_user_session_path, method: :delete, class: 'visible-xs-block'

    .container-fluid{class: yield(:container_class)}
      = yield

    = flash_message wrap_js: true

